@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth; }

body {
  font-family: "Futura PT";
  position: relative; }

html, body {
  overflow-x: hidden !important; }

.content {
  width: 65%; }

h1 {
  font-weight: 500;
  font-size: 6rem;
  line-height: 80px; }

h2 {
  color: #313131;
  font-size: 3.1rem;
  line-height: 2rem;
  text-transform: uppercase; }
  h2 mark {
    color: #4459c5;
    font-weight: 500;
    font-size: 2rem;
    background: none;
    text-transform: lowercase; }

h3 {
  color: #313131; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 9vh;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, transparent, transparent, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), white);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  header .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  width: 140px;
  height: 56px;
  background-image: url(../img/logo_white2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.main_menu {
  display: flex;
  text-transform: uppercase; }
  .main_menu a {
    color: #fff; }
  .main_menu li {
    padding: 0 10px;
    list-style: none;
    opacity: 0.7;
    transition: .45s ease-out; }
    .main_menu li:hover {
      opacity: 1; }
    .main_menu li:nth-last-child(1) {
      padding-right: 0; }

.mobile_menu_btn, .mobile_menu {
  display: none; }

.mobile_menu_btn {
  color: #fff;
  font-size: 2rem;
  height: auto;
  align-items: flex-end; }
  .mobile_menu_btn p {
    width: 100%;
    text-align: right; }

.mobile_menu.active {
  display: block;
  margin-bottom: 15%; }

.mobile_menu {
  width: 100%;
  list-style: none;
  text-align: right; }
  .mobile_menu a {
    color: #fff; }

.screen {
  display: flex; }

.main_screen {
  height: 100vh;
  background-image: url(../img/main_screen_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; }
  .main_screen .content {
    color: #fff;
    display: flex;
    align-items: center; }
  .main_screen .info {
    width: 80%; }
    .main_screen .info .desc {
      margin-top: 3%;
      width: 60%;
      font-size: 2rem; }
    .main_screen .info .button {
      margin-top: 7%; }

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: .45s ease-out;
  width: fit-content;
  position: relative;
  height: 50px;
  cursor: pointer; }
  .button p {
    position: relative;
    z-index: 2;
    transition: .45s ease-out;
    padding: 0 25px; }
  .button:before {
    content: '';
    width: 3px;
    height: 100%;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    transition: .45s ease-out; }
  .button:hover:before {
    width: 100%; }
  .button:hover p {
    color: #313131; }

.button.white {
  color: #fff; }
  .button.white:before {
    background-color: #fff; }

.button.blue {
  color: #4459c5; }
  .button.blue:before {
    background-color: #4459c5; }
  .button.blue:hover p {
    color: #fff; }

.services {
  padding: 5% 0;
  justify-content: center;
  flex-wrap: wrap; }

.slider_holder {
  margin-top: 5%;
  width: 100%;
  background-color: #c1c1c1;
  position: relative; }

.slider_navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex; }
  .slider_navigation .left_side, .slider_navigation .right_side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .45s ease-out; }
  .slider_navigation .left_side {
    justify-content: flex-start; }
  .slider_navigation .right_side {
    justify-content: flex-end; }

.nav {
  width: 50px;
  height: 90px;
  background-color: #fff;
  opacity: 0.5;
  transition: .45s ease-out;
  z-index: 6;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  cursor: pointer; }
  .nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/arrow.svg); }
  .nav:hover {
    opacity: 1; }

.nav_prev {
  left: 0; }
  .nav_prev:after {
    transform: rotate(180deg); }

.nav_next {
  right: 0; }

.service {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  transition: .45s ease-out; }
  .service:hover .service_info {
    bottom: 100%; }
  .service:hover .service_title {
    background: none; }
  .service:hover .service_info {
    padding-top: 50px;
    background-color: rgba(49, 49, 49, 0.65); }

.service1 {
  background-image: url(../img/service1.png); }

.service2 {
  background-image: url(../img/service2.png); }

.service3 {
  background-image: url(../img/service3.jpg); }

.service4 {
  background-image: url(../img/service4.png); }

.service5 {
  background-image: url(../img/service5.jpg); }

.service6 {
  background-image: url(../img/service6.png); }

.service7 {
  background-image: url(../img/service7.png); }

.service8 {
  background-image: url(../img/service8.png); }

.service9 {
  background-image: url(../img/service9.png); }

.service10 {
  background-image: url(../img/service10.png); }

.service11 {
  background-image: url(../img/service11.jpg); }

.service12 {
  background-image: url(../img/service12.png); }

.service13 {
  background-image: url(../img/service13.jpg); }

.service14 {
  background-image: url(../img/service14.png); }

.owl-dots {
  display: none; }

.service_info {
  transform: translate(0, 100%);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: .45s ease-out;
  flex-direction: column; }

.service_btn {
  margin-bottom: 100px; }

.service_title {
  font-weight: 500;
  height: 100px;
  background: linear-gradient(to top, rgba(49, 49, 49, 0.5), rgba(49, 49, 49, 0.5), rgba(49, 49, 49, 0.5), transparent);
  color: #fff;
  font-size: 2.3rem;
  width: 100%;
  transition: .2s ease-out; }
  .service_title p {
    max-width: 90%;
    width: fit-content;
    margin: 0 auto;
    text-align: center; }

.service_info_text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 80%;
  text-align: center;
  flex: 1; }

.about_company {
  padding: 5% 0;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center; }

.company_info_holder {
  width: 100%;
  display: flex;
  height: auto; }

.company_info_text_holder {
  width: 70%;
  height: 100%;
  box-shadow: 0 0 5px 5px rgba(49, 49, 49, 0.2);
  padding: 5%; }
  .company_info_text_holder .button {
    margin-top: 5%; }
  .company_info_text_holder .company_info_text {
    margin-top: 5%;
    color: #5c5c5c;
    font-size: 1.3rem;
    line-height: 35px; }

.company_info_pic {
  width: 30%;
  position: relative;
  z-index: 2; }
  .company_info_pic:before {
    content: '';
    display: block;
    background-image: url(../img/about_company_pic.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 130%;
    width: 180%;
    opacity: 0.5;
    z-index: 1;
    transform: translate(0, -50%);
    top: 50%;
    left: 20%; }
  .company_info_pic:after {
    content: '';
    display: block;
    background-image: url(../img/about_company_pic.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2; }

.advantages {
  background-color: #f3f3f3;
  padding: 5% 0;
  justify-content: center; }
  .advantages .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

.advantages_holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%; }

.advantage_card {
  padding: 20px 0;
  margin-top: 3%;
  min-height: 210px;
  height: auto;
  width: 32%;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(49, 49, 49, 0.1);
  transition: .45s ease-out; }
  .advantage_card:hover {
    box-shadow: none; }

.advantage_number {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4459c5;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700; }

.advantage_title {
  font-size: 1.5rem; }

.advantage_info {
  color: #818181;
  font-size: 1rem;
  line-height: 22px; }

.advantage_text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.advantage_title, .advantage_info {
  margin-top: 5%;
  width: 85%; }

.tariff {
  padding: 5% 0;
  justify-content: center; }
  .tariff .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .tariff .express {
    background-image: url(../img/tariff_express.png); }
  .tariff .cheap {
    background-image: url(../img/tariff_cheap.png); }
  .tariff .super_express {
    background-image: url(../img/tariff_super_express.png); }
  .tariff .internet_shops {
    background-image: url(../img/tariff_internet_shops.png); }

.tariffs {
  width: 100%;
  display: flex;
  flex-direction: column; }

.tariff_card {
  margin-top: 10%;
  height: 315px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(49, 49, 49, 0.1);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  justify-content: flex-end;
  position: relative; }
  .tariff_card:nth-child(even) {
    background-position: center right;
    align-self: flex-end;
    justify-content: flex-start; }
    .tariff_card:nth-child(even) .pic_part {
      left: auto;
      right: 0;
      background-position: center right; }
  .tariff_card .pic_part {
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0; }
  .tariff_card .text_part {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .tariff_card .text_part .text_body {
      width: 80%; }
    .tariff_card .text_part .tariff_desc {
      margin-top: 3%;
      color: #565656;
      font-size: 1rem; }
  .tariff_card .button {
    margin-top: 5%;
    height: 35px; }
    .tariff_card .button p {
      font-size: 1rem; }

.tariff_title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem; }

.tariff_pic {
  position: absolute; }

.tariff_pic.plane {
  bottom: -30%;
  left: -15%; }

.tariff_pic.van {
  right: -20%;
  bottom: -3%; }

.tariff_pic.pocket_watch {
  left: -15%;
  bottom: -17%; }

.tariff_pic.box {
  right: -10%;
  bottom: -27%; }

.actions {
  padding: 5% 0;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .actions .content {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.action {
  width: 27%;
  height: 420px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(49, 49, 49, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .45s ease-out; }
  .action:hover {
    box-shadow: none; }
  .action .button {
    height: 2rem; }
    .action .button svg path {
      height: 10px !important;
      width: 10px !important; }
    .action .button p {
      font-size: 0.9rem; }
  .action .arrow {
    height: 10px;
    margin-left: 10px; }

.action_image {
  width: 80%;
  height: 50%;
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 0 10%; }
  .action_image h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 30px; }
    .action_image h3 b {
      font-size: 1.9rem; }

.personal_account {
  background-image: url(../img/personal_account.png); }

.calculator {
  background-image: url(../img/calculator.png); }

.action_van {
  background-image: url(../img/action_van.png); }

.action_info {
  flex: 1;
  padding: 15px 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 80%; }

.action_text {
  font-size: 1.1rem;
  color: #b7b7b7;
  line-height: 1.5rem;
  flex: 1; }

.feedback {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/feedback_screen_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center; }
  .feedback .content {
    height: 100%;
    display: flex;
    align-items: center; }
  .feedback .form_holder {
    width: 100%;
    min-height: 90%;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.55); }
  .feedback .form_holder_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/feedback_form_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; }

.feedback_form_content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
  .feedback_form_content h2 {
    margin-top: 60px;
    margin-left: 60px;
    color: #fff; }
    .feedback_form_content h2 mark {
      color: #fff; }

.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .form_container .button_holder {
    margin-top: 5%;
    width: 85%; }

.feedback_form {
  width: 85%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between; }
  .feedback_form .inputs {
    width: 50%; }
    .feedback_form .inputs .dark_input {
      margin-top: 35px;
      width: 85%; }
      .feedback_form .inputs .dark_input:nth-child(1) {
        margin-top: 0; }
  .feedback_form .dark_textarea {
    width: 40%; }

.dark_input, .dark_textarea {
  background-color: rgba(49, 49, 49, 0.65);
  border: none;
  padding: 0 5%;
  color: #fff;
  font-size: 1.3rem;
  border-left: 3px solid #fff; }

.dark_input {
  height: 75px; }

.dark_textarea {
  padding-top: 20px;
  resize: none; }

.dark_input::-webkit-input-placeholder, .dark_textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem; }

/* webkit */
.dark_input::-moz-placeholder, .dark_textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem; }

/* Firefox 19+ */
.dark_input:-moz-placeholder, .dark_textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem; }

/* Firefox 18- */
.dark_input:-ms-input-placeholder, .dark_textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem; }

.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: center; }
  .popup .content {
    height: 100%;
    display: flex;
    align-items: center; }

.popup_service {
  width: 100%;
  height: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.popup_service_img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: 0;
  position: relative; }

.close-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: .45s ease-out;
  width: 20px;
  height: 20px; }
  .close-popup:before, .close-popup:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transition: .45s ease-out; }
  .close-popup:before {
    transform: rotate(-45deg); }
  .close-popup:after {
    transform: rotate(45deg); }
  .close-popup:hover:before, .close-popup:hover:after {
    background-color: white; }

.popup_service_title {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup_service_title .service_title {
    background: none;
    height: auto; }

.popup_service_text {
  padding: 5% 0;
  width: 90%;
  color: #7f7f7f;
  overflow-y: auto; }

/* ╤Е╤А╨╛╨╝, ╤Б╨░╤Д╨░╤А╨╕ */
.popup_service_text::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.popup_service_text {
  -ms-overflow-style: none; }

/* ╤Д╤Д (╤Б╨▓╨╛╨╣╤Б╤В╨▓╨╛ ╨▒╨╛╨╗╤М╤И╨╡ ╨╜╨╡ ╤А╨░╨▒╨╛╤В╨░╨╡╤В, ╨┤╤А╤Г╨│╨╕╤Е ╤Б╨┐╨╛╤Б╨╛╨▒╨╛╨▓ ╤В╨╛╨╢╨╡ ╨╜╨╡╤В)*/
.popup_service_text {
  overflow: -moz-scrollbars-none; }

table, td, th {
  border: 1px solid #8e8e8e;
  border-collapse: collapse; }

td, th {
  padding: 10px; }

.popup_service_text b {
  color: #4459c5; }
.popup_service_text li {
  line-height: 30px; }

footer {
  padding: 2% 0;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .contacts {
    width: 100%;
    display: flex;
    justify-content: center; }
    footer .contacts .content {
      margin-top: 1%;
      padding-top: 1%;
      padding-bottom: 1%;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      display: flex;
      justify-content: flex-end; }
  footer .contact {
    color: #c4c4c4;
    font-size: 14px;
    padding: 0 10px; }
    footer .contact:nth-last-child(1) {
      padding-right: 0; }
  footer .copyright {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem; }
    footer .copyright p {
      color: #9b9b9b; }
      footer .copyright p a {
        color: #d3d3d3; }

/*# sourceMappingURL=style.css.map */
